@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Ermilov";
  src: url("/fonts/Ermilov-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    color: #000000;
  }
  body {
    background-color: #fff;
  }
  .btn-primary-small {
    padding: 12px 24px;
    border: 2px solid #000000;
    border-radius: 6px;
    font-weight: 700;
  }
}
