@import "tailwindcss";

@theme {
  --font-gilroy: "Gilroy", sans-serif;
  --font-ermilov: "Ermilov", sans-serif;
  
  --color-coffee: #EFECE8;
  --color-gray: #D2D2D2;
  --color-gray2: #D9D9D9;
  --color-cyan: #1CA5C3;
}

/* Fonts */
@font-face {
  font-family: "Ermilov";
  src: url("../fonts/Ermilov-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply font-gilroy text-black bg-white scroll-smooth;
  }
  .btn-primary-small {
    display: inline-block;
    width: fit-content;
    padding: 12px 24px;
    font-size: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-weight: 700;
    background-color: #fff;
    color: #000000;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-primary-big {
    display: inline-block;
    width: fit-content;
    padding: 20px 48px;
    font-size: 34px;
    border: 3px solid #000000;
    border-radius: 8px;
    font-weight: 700;
    background-color: #fff;
    color: #000000;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-primary-small:hover,
  .btn-primary-big:hover {
    box-shadow: 0px 4px 0px 0px #000000;
    transform: translate(0px, 2px);
  }
  .btn-primary-small:active,
  .btn-primary-big:active {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 0px 0px #000000;
    transform: translate(2px, 2px);
  }
  .btn-secondary-small {
    display: inline-block;
    width: fit-content;
    padding: 12px 24px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-secondary-small:hover {
    box-shadow: 0px 4px 0px 0px #ffffff;
    transform: translate(0px, 2px);
  }
  .btn-secondary-small:active {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 0px 0px #ffffff;
    transform: translate(2px, 2px);
  }
}

@layer components {
  /* Map Markers */
  .custom-marker {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #0284c7;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
}
