@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Ermilov';
  src: url('/fonts/Ermilov-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Gilroy', sans-serif;
    color: #000000;
  }
  body {
    background-color: #fff;
  }
  .btn-primary-small {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-weight: 700;
    background-color: transparent;
    color: #000000;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-primary-small:hover {
    box-shadow: 0px 4px 0px 0px #000000;
    transform: translate(0px, 2px);
  }
  .btn-primary-small:active {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 0px 0px #000000;
    transform: translate(2px, 2px);
  }
}
